<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>评论-闲言轻博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{{template "comm/link.html"}}
    <link href="https://cdn.bootcss.com/froala-editor/2.8.1/css/froala_style.min.css" rel="stylesheet" type="text/css"/>
</head>
<body class="lay-blog">
{{template "comm/header.html".}}
<div class="container-wrap">
    <div class="container container-message container-details">
        <div class="contar-wrap">
            <div class="item">
                <div class="item-box  layer-photos-demo1 layer-photos-demo">
                    <h3><a href="#">{{.note.Title}}</a></h3>
                    <h5>发布于：<span>{{date .note.UpdatedAt "Y-m-d h:i:s"}}</span></h5>
                    <div class=" fr-view" style="overflow-y: auto">
                    {{str2html .note.Content}}
                    </div>

                {{/*<img src="../res/static/images/item.png" alt="">*/}}
                    <div class="count layui-clear">
                        <span class="pull-left">阅读 <em>100000+</em></span>
                        <span class="pull-right like">
                            <i class="layui-icon layui-icon-praise"></i>
                            <em>999</em>
                        </span>
                    </div>
                </div>
            </div>
            <a name="comment"> </a>
            <div class="comt layui-clear">
                <a href="javascript:;" class="pull-left">评论</a>
                <a href="/comment/{{.note.Key}}" class="pull-right">写评论</a>
            </div>
            <div id="LAY-msg-box">
                <div class="info-item">
                    <img class="info-img" src="../res/static/images/info-img.png" alt="">
                    <div class="info-text">
                        <p class="title count">
                            <span class="name">一片空白</span>
                            <span class="info-img like"><i class="layui-icon layui-icon-praise"></i>5.8万</span>
                        </p>
                        <p class="info-intr">
                            父爱如山，不善表达。回想十多年前，总记得父亲有个宽厚的肩膀，小小的自己跨坐在上面，越过人山人海去看更广阔的天空，那个时候期望自己有一双翅膀，能够像鸟儿一样飞得高，看得远。虽然父亲有时会和自己开玩笑，但在做错事的时候会受到严厉的训斥。父亲有双粗糙的大手掌。</p>
                    </div>
                </div>
                <div class="info-item">
                    <img class="info-img" src="../res/static/images/info-img.png" alt="">
                    <div class="info-text">
                        <p class="title count">
                            <span class="name">一片空白</span>
                            <span class="info-img like"><i class="layui-icon layui-icon-praise"></i>5.8万</span>
                        </p>
                        <p class="info-intr">
                            父爱如山，不善表达。回想十多年前，总记得父亲有个宽厚的肩膀，小小的自己跨坐在上面，越过人山人海去看更广阔的天空，那个时候期望自己有一双翅膀，能够像鸟儿一样飞得高，看得远。虽然父亲有时会和自己开玩笑，但在做错事的时候会受到严厉的训斥。父亲有双粗糙的大手掌。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "comm/footer.html"}}
<script>
    layui.use('util', function () {
        var util = layui.util;
        //执行
        var option = {};
    {{if and .IsLogin (eq2 .User.ID .note.UserID) }}
        option = {
            bar1: '&#xe642;',
            click: function (type) {
                if (type === 'bar1') {
                    window.location.href = "/note/edit/{{.note.Key}}";
                }
            }
        };
    {{else if not .IsLogin}}
        option = {
            bar1: '&#xe770;',
            click: function (type) {
                if (type === 'bar1') {
                    window.location.href = "/user";
                }
            }
        };
    {{end}}
        util.fixbar(option);
    });
</script>
</body>
</html>