<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言-闲言轻博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{{template "comm/link.html"}}
</head>
<body class="lay-blog">
{{template "comm/header.html".}}
<div class="container-wrap">
    <div class="container container-message">
        <div class="contar-wrap" id="contar-wrap">
            <form class="layui-form" action="">
                <div class="layui-form-item layui-form-text">
                    <textarea class="layui-textarea" id="LAY-msg-content" style="resize:none"></textarea>
                </div>
            </form>
            <div class="item-btn">
                <button class="layui-btn layui-btn-normal" id="item-btn">提交</button>
            </div>
            <div id="LAY-msg-box">
            </div>

            <div id="test1" class="paging"></div>
        </div>
    </div>
</div>
{{template "comm/footer.html"}}
{{template "comm/jstpl_msg.html"}}


</body>
