<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>闲言轻博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

{{template "comm/link.html"}}
    <link rel="stylesheet" href="/static/lib/wangEditorPlus/wangEditor-fullscreen-plugin.css">
    <style>
        .lay-blog ul.pop-nav {
            z-index: 5;
        }
        .container {
            margin: 0 auto !important;
        }
        .w-e-toolbar {
            flex-wrap: wrap;
            font-size: 14px;
        }
    </style>

</head>
<body class="lay-blog">
{{template "comm/header.html".}}
<div class="container-wrap">
    <div class="container">
        <div class="contar-wrap">
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required=""
                               value="{{.note.Title}}"
                               lay-verify="required" placeholder="请输入标题"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <div class="layui-input-block">
                        <div id="edit" style="background: #fff;">{{if .note }}{{str2html .note.Content}}{{end}}</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn" lay-submit=""
                            lay-filter="save">提交
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
{{template "comm/footer.html" .}}
<script type="text/javascript" src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
<script type="text/javascript" src="/static/lib/wangEditorPlus/wangEditor-fullscreen-plugin.js"></script>
<script>

    layui.use(['form', 'jquery', 'layer', 'sysn'], function () {
        var form = layui.form,
                sysn = layui.sysn,
                $ = layui.jquery,
                layer = layui.layer;

        var E = window.wangEditor;
        var editor = new E('#edit');
        // 或者 var editor = new E( document.getElementById('editor') )
        E.fullscreen.init('#edit');
         editor.customConfig.uploadImgShowBase64 = true;
       // editor.customConfig.uploadImgServer = '/froala/uploadimg';
        editor.customConfig.pasteFilterStyle = false;
        editor.create();
        //监听提交
        form.on('submit(save)', function (fromdata) {
            var fdata = fromdata.field;
            fdata.content = editor.txt.html();
            sysn.post("/note/save/{{.key}}", fdata)
                    .success(function (data) {
                        layer.msg(data.msg);
                        if (data.action) {
                            setTimeout(function () {
                                window.location.href = data.action;
                            }, 300)
                        }
                    }).run();
            return false;
        });
    });
</script>
</body>
</html>