.container-panel {
    margin-bottom: 15px;
    border-radius: 2px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}
@media only screen and (max-width:  750px) {
    .container-panel{
        padding:0px;
    }
}