
<div class="info-box">
    <div class="info-item">
        <img class="info-img" src="{{ .Avatar }}" alt="">
        <div class="info-text">
            <p class="title">
                <span class="name">{{ .UserName }}</span>
                <span class="info-img">
                    <i class="layui-icon layui-icon-praise"></i>
                {{ .Praise }}
                    </span>
            </p>
            <p class="info-intr">
            {{ .Content }}
            </p>
        </div>
    </div>
</div>